[Unit]
Description=AllGoodOnAmzn Service (with tmux)
After=network.target

[Service]
Type=forking
ExecStart=/bin/bash -c '/home/gtx/Kitchen/AllGoodOnAmzn/.tmux_manager.sh all-good-on-amzn /home/gtx/Kitchen/AllGoodOnAmzn start'
ExecStop=/bin/bash -c '/home/gtx/Kitchen/AllGoodOnAmzn/.tmux_manager.sh all-good-on-amzn /home/gtx/Kitchen/AllGoodOnAmzn stop'
Restart=on-failure
RemainAfterExit=yes
User=gtx
TimeoutSec=150
WorkingDirectory=/home/gtx/Kitchen/AllGoodOnAmzn

[Install]
WantedBy=multi-user.target
